.chat-side
  .chat-side__side-header
    .chat-side__side-header__box
      .chat-side__side-header__box__user-name
        = current_user.name
      %ul.chat-side__side-header__box__menu
        %li.side-header__box__menu__new-group
          = link_to new_group_path, class: "menu__new-group" do
            %i.fa.fa-edit
        %li.chat-side__side-header__box__menu__edit-user
          = link_to '#', class: "menu__edit-user" do
            %i.fa.fa-cog
          -#  = link_to edit_user_path(current_user) do
          -# = icon('fas', 'cog', class: 'icon') 
  .chat-side__groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .groupname
            = group.name
          .groupmassage
            = group.show_last_message



-# .side-bar
-#   .side-bar__user-name
-#     .side-bar__user-name__username
-#       = current_user.name
-#     .side-bar__user-name__icons
-#       = link_to new_group_path, class: "side-bar__icon" do
-#         %i.fas.fa-edit
-#         %span<>
-#       = link_to '#', class: "side-bar__icon" do
-#         %i.fas.fa-cog
-#           -#  = link_to edit_user_path(current_user) do
-#           -# = icon('fas', 'cog', class: 'icon') 
-#   .side-bar__group-list
-#     - current_user.groups.each do |group|
-#       .group
-#         = link_to group_messages_path(group) do
-#           .groupname
-#             = group.name
-#           .post
-#             メッセージはまだありません。